@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --white: #FAFAFA;
    --gray: #E2E2E2;
    --black: #0A0A0A;
    --primary-color: #362F4B;
    --border-radius: 12px;
    --cell-padding: 1vh 4vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-content: start;
    font-family: 'Ubuntu';
    height: 100vh;
    background: linear-gradient(25deg, #4154CF, #CA54C2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0.5vw 0.25vw 0.5vw;
}

h1 {
    color: var(--black);
    font-size: calc(0.85rem + 0.85vw);
}

.button-add,
#submit {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 700;
}

.button-add:hover,
#submit:hover {
    background-color: #2c974b;
}

.button-add:focus,
#submit:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 2px;
    outline: none;
}
  
.button-add:active,
#submit:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

table {
    border-spacing: 0;
}

tr:nth-child(even) {
    background-color: var(--gray);
}

tr:nth-child(odd) {
    background-color: var(--white);
}

th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--cell-padding);
    font-size: calc(0.55rem + 0.55vw);
    font-weight: 500;
}

th:first-of-type {
    border-top-left-radius: var(--border-radius);
}

th:last-of-type {
    border-top-right-radius: var(--border-radius);
}

td {
    color: var(--black);
    padding: var(--cell-padding);
    font-size: calc(0.5rem + 0.5vw);
}

tr:last-of-type > td:first-of-type {
    border-bottom-left-radius: var(--border-radius);
}


tr:last-of-type > td:last-of-type {
    border-bottom-right-radius: var(--border-radius);
}

.delete {
    width: 5vw;
    height: 1.5vw;
    background-color: #dc3545;
    border: 1px solid rgba(35, 27, 27, 0.15);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    font-size: calc(0.45rem + 0.45vw);
    font-weight: 400;
}

.delete:hover {
    background-color: #be303e;
}

.delete:focus {
    box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 2px;
    outline: none;
}
  
.delete:active {
    background-color: #ad2b38;
    box-shadow: rgba(70, 20, 20, 0.2) 0 1px 0 inset;
}

.modal {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 1% 1% 0 1%;
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
    background-color: var(--white);
    position: absolute;
    top: 15%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 4% 0;
}

.modal-header > span {
    cursor: pointer;
}

.modal > h1 {
    margin: 0 0 3% 0;
}

form {
    width: 100%;
}

form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.read {
    min-height: 3vh;
}

.submit {
    justify-content: end;
}

#submit {
    margin-bottom: 0;
}

label,
div > p {
    font-size: calc(0.6rem + 0.6vw);
    color: var(--black);
}

input[type="text"] {
    width: 70%;
    min-height: 3vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--black);
    padding: 0.5% 2%;
}

.radio-options > div {
    display: inline;
}

.radio-options > div > label {
    font-size: calc(0.5rem + 0.5vw);
}

.yes {
    padding-right: 1vw;
}

#submit {
    width: 5.75vw;
    height: 1.75vw;
    font-weight: 400;
}