@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --white: #FAFAFA;
    --gray: #F0F0F0;
    --black: #0A0A0A;
    --primary-color: #362F4B;
    --border-radius: 12px;
    --cell-padding: 1vh 4vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    font-family: 'Ubuntu';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0.5vw 0.25vw 0.5vw;
}

h1 {
    font-size: calc(0.85rem + 0.85vw);
}

.button-add {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 700;
}

.button-add:hover {
    background-color: #2c974b;
}

.button-add:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 2px;
    outline: none;
}
  
.button-add:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}